Lambda_media/Lambda_lib
Lambda_rekognition/moviepy_sound
Lambda_rekognition/opencv_mosaic
Lambda_rekognition/opencv_practice/.idea
Lambda_rekognition/opencv_practice/venv/Lib
Lambda_rekognition/opencv_practice/venv/Scripts

